@model IEnumerable<DABongDa.Models.CAUTHU>

@{
    ViewBag.Title = "Cầu Thủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoAo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChieuCao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanNang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoBanThang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianRaSan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTranThamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TieuSu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoAo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChieuCao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanNang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaDB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoBanThang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianRaSan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTranThamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TieuSu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCT })
        </td>
    </tr>
}

</table>
